.header{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    box-shadow: 0 1px 8px #ddd;
}
.avatar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    text-align: center;
    font-size: 1em;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(131, 127, 127, 0.2);
}
.logo-sort{
    color:   rgb(71, 175, 179);
}
.avatar-title{
    font-size: 13px;
    font-weight: normal;
    padding: 5px;
}